<form class="ballot" method="POST" action="/vote/{{ballot._id}}?_method=PUT" >
{{#each ballot.options}} 
	<div class="radio">
		<label for="{{this._id}}">
			<input type="radio" name="option" id="{{this._id}}" value="{{this._id}}">
			{{this.name}}
		</label>
	</div>
{{/each}}
{{#if user}}
	<input type="text" placeholder="Add a new option..." name="newOption">
{{/if}}
	<div>
		<input type="submit" class="btn-primary center-block">
	</div>			
</form>
