<div class="dashboard-header">
	<h4>{{user.username}}</h4>
	<img class="profile-pic img-rounded" src="{{user.photo}}">
</div>
<div class="dashboard container-fluid">
	{{#ballots}}
	<div>
		<form method="POST" action="/vote?_method=DELETE&id={{_id}}">
			<input type="submit" class="pull-right delete-btn" title="Delete" value="&cross;">
		</form>
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<a href="/vote?id={{_id}}" target="_blank">
		    	<h3 class="panel-title">{{title}}</h3>
		    </a>
		  </div>
		  <div class="panel-body">
		    <table class="table">
		    	<thead>
			    	<tr>
			    		<th>Option</th>
			    		<th>Votes</th>
			    	</tr>
			    </thead>
			    <tbody>	
		    	{{#each options}}
		    		<tr>
			    		<td>{{this.name}}</td>
			    		<td>{{this.votes}}</td>
			    	</tr>	
		    	{{/each}}
		    	</tbody>
		    </table>
		  </div>
		</div>
	</div>
	{{/ballots}}
</div>
